@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ced6f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilos de Servicios*/
.services{
    background-color: #ffffff;
    width: 871px;
    height: 464px;
    border-radius: 10px;
    text-align: center;
    padding: 58px 78px 0 65px;
    margin: 20px 0 153px 0;
}

.contenedora{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    text-align: left;
}

.item{
    width: 251px;
    height: 102px;
    margin-bottom: 41px;
}

h3{
    color: #3d64e0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

h1{
    color: #0e2058; 
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    margin:20px 0 15px 0;
}

p{
    color: #696969;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    margin-bottom: 54px;
}

.item img{
    width: 30px;
    height: 30px;
}

.item h2{
    color: #0d1c54; 
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    margin: 11px 0 7px 0;
}

.item p{
    color: #696969; 
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12.5px;
}



/*Estilos de Formulario*/
.formulario{
    background-color: #ced6f0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.login{
    background-color: #ffffff;
    width: 486px;
    height: 573px;
    border-radius: 10px;
    text-align: center;
    padding: 25px 0 43px 0; 
}

.login img{
    width: 50px;
    height: 50px;
    margin-left: 170px;
}

.login h1{
    color: #000000;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    margin-top: 0.5px;
}

.login h2{
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 25px;
    padding: 0 47px;
}

.login p{
    color: #696969;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-align: justify;
    padding: 0 47px;
    margin-top: 11px;
}

hr{
    width: 389px;
    margin: 32px 0 33px 47px;
    opacity: 0.4;
} 

form{
    display: flex;
    flex-direction: column;
    padding: 0 0 30px 47px;
}

input{
    width: 389px;
    height: 44px;
    margin: 18px 0 18px 0;
    border-radius: 5px; 
    border-style: solid;
    opacity: 0.4;
}

label{
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}


button{
    width: 389px;
    height: 44px; 
    text-transform: uppercase;
    background-color: #367bf5;
    color: #f3f7fe;
    border-color: #367bf5;  
    border-radius: 1px; 
    margin-top: 20px; 
    transition: background-color 1s, color 1s;
}

button:hover{
    background-color: #f3f7fe;
    color: #367bf5;
}

form p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    margin-bottom: 42px;
}

form b{
    color: #000000;
}    

